<?xml version= "1.0" encoding ="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://code.alibabatech.com/schema/dubbo 
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd 
        " > 

    <dubbo:application name="hello-world-app" />
    <dubbo:protocol name="dubbo" port="50639"/>
<!--发布服务的地址-->  
    <dubbo:registry address="zookeeper://10.12.0.29:2181" />
<!--暴露出的接口-->  
    <dubbo:service interface="guava.IProcessData"
        ref= "demoService" executes ="10" /> 
<!--接口实现类-->  
    <bean id="demoService" class="guava.ProcessDataImpl" />
</beans>
